html {

}

header{
    width: 100%;
    background-color: darkgray;
    white-space: nowrap;
    font-size: 16px;

}

h1{
    text-align: center;
    background-color: lightblue;
    margin-top: 0;
    height:200px;
    line-height: 200px;
}

.p1{
    display: inline-block;
    margin-left: 0;
    }

#pp1{
    position:absolute;
    right:50px;
    
    width:8em;    
}

h2{
    text-align: center;
}



.content1{
    width: 40%;
    left: 30%;
    height: 200px;
    text-align: center;
    background-color:cadetblue;
    float: left;
    margin: 30px;
    
}

.content2{
    width: 40%;
    height: 200px;
    left: 30%;
    text-align: center;
    background-color:cadetblue;
    float: left;
     margin: 30px;
     margin-left: 60px;
}

.content3{
    width: 40%;
    height: 200px;
    left: 30%;
    text-align: center;
    background-color:cadetblue;
    float: left;
     margin: 30px;
}

.content4{
    width: 40%;
    height: 200px;
    left: 30%;
    text-align: center;
    background-color:cadetblue;
    float: left;
     margin-top: 30px;
    margin-left: 60px;
}

footer{
    float:left;
    text-align: center
    width: 100px;
    margin-left: 0;
    background-color: lightblue;
    
}

body {
    
}

